
<h2>Template</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item cursor-pointer" routerLink="template/basicos">Básicos</li>
    <li class="list-group-item cursor-pointer" routerLink="template/dinamicos">Dinámicos</li>
    <li class="list-group-item cursor-pointer" routerLink="template/dinamicos">Switches</li>
</ul>


<h2 class="mt-4">Reactive</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item cursor-pointer" routerLink="reactive/basicos">Básicos</li>
    <li class="list-group-item cursor-pointer" routerLink="reactive/dinamicos">Dinámicos</li>
    <li class="list-group-item cursor-pointer" routerLink="reactive/dinamicos">Switches</li>
</ul>